<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% url 'django.views.static.serve' 'style.css' %}" />

</head>

<body>

    <div style="border: 1px #000000 dotted; padding: 20px;">
       {% include "main_menu.html" %}
    </div>
    <div id="content"  style="border: 1px #000000 dotted; padding: 20px;">
        deqdwd
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <div style="border: 1px #000000 dotted; padding: 20px;">
        Autor: valery.osovets@gmail.com
    </div>

</footer>
</html>