{% extends "base.html" %}
{% block content %}
<h1>{{ scheduler.time|date:"H:i" }}  {{ scheduler.date }}</h1>
    <h2><b>Play:</b> {{ scheduler.play.id }} {{ scheduler.play.title }}</h2>
    <p> {{ scheduler.play.describe }}</p>
{% load apptags %}

<div>
    <form action="{% url 'buy' %}" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <th>Ticket</th>
                <th>Cost(rub)</th>
                <th>Available</th>
                <th>Ordered</th>
                <th>Choice</th>
            <tr/>
            {{form}}
        </table>
    <input type="submit" value="Add to cart"/>
    </form>
</div>
{% endblock %}